{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}WerewolfAssistant{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css"%}">
    {% block styles %}{% endblock %}

    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    {% block scripts %}{% endblock %}
</head>
<body>
<div>
    {% block nav %}
        <nav class="navigation navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url "index"%}">WerewolfAssistant</a>
{#                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#                    <span class="navbar-toggler-icon"></span>#}
{#                </button>#}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
{#                        <li class="nav-item">#}
{#                            <a class="nav-link active" aria-current="page" href="{% url "about"%}">О проекте</a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link active" href="{% url "contacts"%}">Контакты</a>#}
{#                        </li>#}
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Войти
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
{#                                <li><a class="dropdown-item" href="{% url "account"%}">Личный кабинет</a></li>#}
{#                                <li><a class="dropdown-item" href="#">Личный кабинет</a></li>#}
{#                                <li><a class="dropdown-item" href="{% url "orders"%}">Список заказов</a></li>#}
{#                                <li><hr class="dropdown-divider"></li>#}
                                <li><a class="dropdown-item" href="{% url "logout"%}">Выйти</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
    {% block alert%}{% endblock %}
    {% block content %}{% endblock %}
</div>
</body>
</html>